
.nav-header {
  border: 10px solid transparent;
  border-image: url(border3.png) 30 round;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  background-color: lightcoral;
}

.photo1 {
  border: 20px solid transparent;
  border-image: url(border3.png) 30 round;
}

body {
  /* background-image: url(./background1.jpg); */
  background-color: rgba(55, 146, 226, 0.54);
  background-size: 30%;
}

.icon {
  height: 145px;
  margin: 3px;
  padding: 35px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profiles {
  display: flex;
  border: 20px solid transparent;
  border-image: url(border3.png) 30 round;
  margin: 5px;
  padding: 15px;
}

.projects {
  display: flex;
  border: 20px solid transparent;
  border-image: url(border3.png) 30 round;
  padding: 15px;
}

.life {
  padding: 10px;
  border-radius: 10%;
  opacity: .8;
}

.welcome {
  display: flex;
  align-content: center;
  flex-direction: column;
}
