@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.nav-header {
  display: flex;
  justify-content: flex-end;
  height: 5px;
}

footer {
  margin: 55px;
}

body {
  background-color: #b57739bf;
}

.icon {
  height: 35px;
  margin: 3px;
  padding: 35px;
}

.pros {
  width: 35%;
  font-family: 'Special Elite', cursive;
}

.profiles {
  display: flex;
}

.flex {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  margin: 5px;
  padding: 15px;

}

.welcome {
  display: flex;
  align-content: center;
  flex-direction: column;
  color: #49412F;
}
.photo2 {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.projectPhotos {
  height: 150px;
  padding-bottom: 10px;
}

.about {
  display: flex;
  justify-content: space-around;
}

.para1 {
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}