
.nav-header {
  border: 3px solid rgba(55, 146, 226, 0.956);
  font-size: 35px;
  display: flex;
  justify-content: space-around;
  background-color: lightcoral;
}

.photo1 {
  border-radius: 50%;
  border: 5px solid lightcoral;
}

body {
  /* background-image: url(./background1.jpg); */
  background-color: rgba(55, 146, 226, 0.54);
  background-size: 30%;
}

.icon {
  height: 145px;
  border: 5px solid green;
  margin: 3px;
  padding: 35px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.profiles {
  display: flex;
  border: 4px solid lightcoral;
  margin: 5px;
  padding: 15px;
}

p {
  display: flex;
  align-content: center;
}

.projects {
  display: flex;
  border: 4px solid lightcoral;
  padding: 15px;
}

.life {
  padding: 10px;
  border-radius: 10%;
  opacity: .8;
}

.travel {
  border-radius: 10%;
}

.para1 {
  font-size: 25px;
}
