@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rampart+One&display=swap');

@keyframes colors {
    0% {background-color: rgb(11,88,123);}
    25% {background-color: lightcoral;}
    50% {background-color: rgb(11,88,123);}
    75% {background-color: lightcoral;}
    100% {background-color: rgb(11,88,123);}
}

@keyframes scroll {
    0%   {top: 0px; left: 0%}
    50% {top: 0px; left: 60%}
    100% {top: 0px; left:0%}

}



h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    
}


@keyframes fade {
    0% {background-color: lightcoral;}
    25% {background-color: rgba(240, 128, 128, 0.5) !important;}
    50% {background-color: rgba(240, 128, 128, 0.1);}
    75% {background-color: rgba(240, 128, 128, 0.5)!important;}
    100% {background-color: lightcoral;}

}

.para1 {
    font-size: 25px;
  }


  .about {
    display: flex;
    justify-content: space-around;
  }