.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 6px solid lightcoral;
}

.cardGrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}